@model YoavShop.Models.MapLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MapLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeoLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeoLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoLat)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
