@model YoavShop.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExiprationYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExiprationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExiprationMounth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExiprationMounth)
        </dt>

        <dt> @Html.DisplayNameFor(model => model.Buyings) </dt>
        <dd>
            <table class="table">
                <tr> <th>Product Name</th> <th>Price</th> <th>Time of purchase</th> </tr>
                @foreach (var item in Model.Buyings)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Product.Name) </td>
                        <td> @Html.DisplayFor(modelItem => item.MoneyPaid) </td>
                        <td> @Html.DisplayFor(modelItem => item.TimeStamp) </td>
                    </tr>}
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
</p>

@if (GlobalVariables.Role == "Admin")
{
<p>
    | @Html.ActionLink("Back to List", "Index")
</p>
}