@model YoavShop.Models.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExiprationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExiprationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExiprationMounth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExiprationMounth)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
</p>

@if (GlobalVariables.Role == "Admin")
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
