@model YoavShop.Models.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExiprationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExiprationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExiprationMounth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExiprationMounth)
        </dd>
        <dd></dd>
    </dl>
    @if (GlobalVariables.Role == "Admin")
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    <br /><br />
    <h7>Youre products:</h7>
    <br />
    <table class="table">
        <tr> <th>Product Name</th> <th>Description</th> <th>Price</th> <th>Categorie</th> <th>Amount left</th> <th>Color</th><th>Photo</th>@if(GlobalVariables.Role == "Admin"){<th>Is Active</th>}<th/><th/></tr>
        @foreach (var item in (GlobalVariables.Role == "Admin" ? Model.Products : Model.Products.Where(p => p.IsActive)))
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                <td> @Html.DisplayFor(modelItem => item.Description) </td>
                <td> @Html.DisplayFor(modelItem => item.Price) </td>
                <td> @Html.DisplayFor(modelItem => item.ProductCategorie.Name) </td>
                <td> @item.Amount</td>
                <td> @item.Color</td>
                <td>
                    <div>
                        @{
                            var iSrc = $"~/Images/Photo{item.Id}.jpg";
                        }
                        <a target="_blank" href='@Url.Content(iSrc)'><img src='@Url.Content(iSrc)' alt="Image not found" style="width:40px"></a>
                    </div>
                </td>
                @if(GlobalVariables.Role == "Admin")
                {
                    <td> @Html.DisplayFor(modelItem => item.IsActive) </td>
                }
                <td>@Html.ActionLink("Edit", "Edit", "Product", new { id = item.Id }, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", "Product", new { id = item.Id }, null)</td>
            </tr>
        }
    </table>
    @Html.ActionLink("Create new product", "Create", "Product", new { SupplierId = Model.Id }, null)
    <br/><br/>
    <h7>Your sellings:</h7>
    <table class="table">
        <tr> <th>Product Name</th> <th>Customer's user name</th> <th>Price Payed</th> <th>Accured At</th> </tr>
        @foreach (var item in Model.Sellings)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Product.Name) </td>
                <td> @Html.DisplayFor(modelItem => item.Customer.UserName) </td>
                <td> @Html.DisplayFor(modelItem => item.MoneyPaid) </td>
                <td> @item.TimeStamp.ToString("dd-MM-yyyy hh:mm:ss") </td>
            </tr>
        }
    </table>
</div>

