<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Yoav's Shop</title>
    <link rel="shortcut icon" type="image/jpg" href="~/Images/diamond.jpg" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
        @Html.Action("Menu", "Navigation")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer" >
            <p>&copy; @DateTime.Now.Year - Yoav's shop</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
