@using YoavShop.ViewModels
@model IEnumerable<YoavShop.ViewModels.MenuViewModel>
<head>
    <title>@ViewBag.Title - Yoav's Shop</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <!--Custom CSS
    <link href="~/Content/business-casual.css" rel="stylesheet">-->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

</head>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Yoav's Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>

                @foreach (MenuViewModel menu in Model)
                {
                    if (menu.IsAction)
                    {
                        <li><a href="@Url.Action(menu.Action, menu.Controller)" class="@menu.Class"> @Html.Raw(menu.Title)</a></li>
                    }
                    else
                    {
                        <li><a href="@Html.Raw(menu.Link)" class="@menu.Class"> @Html.Raw(menu.Title)</a></li>
                    }
                }
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
