@model PagedList.IPagedList<YoavShop.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        @{
            if (string.IsNullOrEmpty(ViewBag.CurrentNameFilter))
            {
                <input type="text" name="searchName" placeholder="Product Name">
            }
            else
            {
                <input type="text" name="searchName" value=@ViewBag.CurrentNameFilter as string>
            }

            if (string.IsNullOrEmpty(ViewBag.CurrentSupplierFilter))
            {
                <input type="text" name="SearchSupplierName" placeholder="Supplier Name">
            }
            else
            {
                <input type="text" name="SearchSupplierName" value=@ViewBag.CurrentSupplierFilter as string>
            }

            if (string.IsNullOrEmpty(ViewBag.CurrentCategorieFilter))
            {
                <input type="text" name="searchCategorie" placeholder="Categorie Name">
            }
            else
            {
                <input type="text" name="searchCategorie" value=@ViewBag.CurrentCategorieFilter as string>
            }
        }
        <br><br />
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentNameFilter = ViewBag.CurrentNameFilter, currentSupplierFilter = ViewBag.CurrentSupplierFilter, currentCategorieFilter = ViewBag.CurrentCategorieFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.ActionLink("Supplier User Name", "Index", new { sortOrder = ViewBag.SupplierUserNameSortParm, currentNameFilter = ViewBag.CurrentNameFilter, currentSupplierFilter = ViewBag.CurrentSupplierFilter, currentCategorieFilter = ViewBag.CurrentCategorieFilter })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentNameFilter = ViewBag.CurrentNameFilter, currentSupplierFilter = ViewBag.CurrentSupplierFilter, currentCategorieFilter = ViewBag.CurrentCategorieFilter })
        </th>
        <th>
            @Html.ActionLink("Categorie Name", "Index", new { sortOrder = ViewBag.CategorieNameSortParm, currentNameFilter = ViewBag.CurrentNameFilter, currentSupplierFilter = ViewBag.CurrentSupplierFilter, currentCategorieFilter = ViewBag.CurrentCategorieFilter })
        </th>
        <th>
            Color
        </th>
        <th>
            Photo
        </th>
        <th>
            Left in stock
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.UserName)
            </td>
            <td>
              @item.Price $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategorie.Name)
            </td>
            <td>
                @item.Color
            </td>
            <td>
                <div>
                    @{
                        var iSrc = $"~/Images/Photo{item.Id}.jpg";
                    }
                <a target="_blank" href='@Url.Content(iSrc)'><img src='@Url.Content(iSrc)' alt="Image not found" style="width:40px"></a>
                </div>
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                @if (item.Amount == 0)
                {
                    <p>Sold Out</p>
                }
                else if (GlobalVariables.Role == "")
                {
                    @Html.ActionLink("Login", "Login")
                }
                else if (GlobalVariables.Role != "Customer")
                {
                    @Html.ActionLink("Login with customer account", "Login")
                }
                else
                {
                    @Html.ActionLink("Buy", "Buy", new { productId = @item.Id })
                }
            </td>
        </tr>
    }
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentNameFilter = ViewBag.CurrentNameFilter, currentSupplierFilter = ViewBag.CurrentSupplierFilter, currentCategorieFilter = ViewBag.CurrentCategorieFilter }))

<!-- /.container -->
<!-- jQuery -->
<script src="~/Scripts/jquery-3.3.1.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/scripts/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 1000 //changes the speed
    })
</script>
