@model YoavShop.Models.UserInfo

@{

    ViewBag.Title = "LogIn";

}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<link rel="stylesheet" href="~/Content/Login.css" />

<div class="login-container">
    <section class="login" id="login">
        <header>
            <h2 id="shoptitle">Yoav's Shop</h2>
            <h4>Login</h4>
        </header>

        @using (@Html.BeginForm(null, null, FormMethod.Post, new { @class = "login-form" }))

        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.TextBoxFor(m => m.UserName, new { @class = "login-input", placeholder = "user name" })

            @Html.PasswordFor(m => m.Password, new { @class = "login-input", placeholder = "Password" })

            <div class="text-danger">@ViewBag.Message</div>
            <br />
            <div class="submit-container">
                <button type="submit" class="login-button">SIGN IN</button>
            </div>
        }
    </section>
</div>
<br/>
<div class="agenda">
    This site was created for a class in the college of management for the course application development. The perpase of this site is to connect people who wants to sell jewlery (suppliers) to people who want to buy them (costumers). In this virtual store you have to open a customer account in order to buy products, and you have to open a supplier account in order to sell. notice that the site's admin can see every every detail you enter to the site.
</div>
<br/>
<div>
    <footer>
        <canvas id="myCanvas" width="250" height="30">
            Your browser does not support the HTML5 canvas tag.</canvas>

        <script>
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.font = "20px Arial";
            ctx.strokeText("Dont have an account yet?",10,20);
        </script>
    </footer>
    <p>
        Sign up as a
        @Html.ActionLink("Customer", "Create", "Customer") | @Html.ActionLink("Supplier", "Create", "Supplier")
    </p>
</div>
